NODE_ENV=development
PORT=3000

ADMIN_PASS=your_admin_password
APP_NAME=your_app_name

POSTGRES_HOST=your_postgres_host
POSTGRES_DB=your_postgres_db
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_PORT=your_postgres_port

DATABASE_URL="your_postgres_db_url"

SALT_ROUNDS=12
JWT_ACCESS_SECRET='your_jwt_access_secret'
JWT_REFRESH_SECRET='your_jwt_refresh_secret'